
@{
    Layout = null;
}


<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb">

<head>
    <script type="text/javascript">
        var siteurl = '/';
        var tmplurl = '/templates/ja_social/';
        var isRTL = false;
    </script>

    <base href="http://www.pucit.edu.pk/" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Punjab University College of Information Technology,PUCIT" />
    <meta name="description" content="Punjab University College of Information Technology" />
    <meta name="generator" content="Joomla! - Open Source Content Management" />
    <title>Punjab University College of Information Technology</title>
    <link href="/?format=feed&amp;type=rss" rel="alternate" type="application/rss+xml" title="RSS 2.0" />
    <link href="/?format=feed&amp;type=atom" rel="alternate" type="application/atom+xml" title="Atom 1.0" />
    <link rel="stylesheet" href="/t3-assets/css_f804d.css" type="text/css" />
    <link rel="stylesheet" href="/t3-assets/css_eaffe.css" type="text/css" />
    <script src="/en/?jat3action=gzip&amp;jat3type=js&amp;jat3file=t3-assets%2Fjs_d64f2.js" type="text/javascript"></script>
    <script type="text/javascript">
        window.addEvent('load', function () {
            new JCaption('img.caption');
        });
    </script>

    <!--[if ie]><link href="/plugins/system/jat3/jat3/base-themes/default/css/template-ie.css" type="text/css" rel="stylesheet" /><![endif]-->
    <!--[if ie]><link href="/templates/ja_social/css/template-ie.css" type="text/css" rel="stylesheet" /><![endif]-->
    <!--[if ie 7]><link href="/plugins/system/jat3/jat3/base-themes/default/css/template-ie7.css" type="text/css" rel="stylesheet" /><![endif]-->
    <!--[if ie 7]><link href="/templates/ja_social/css/template-ie7.css" type="text/css" rel="stylesheet" /><![endif]-->
    <!--[if ie 8]><link href="/templates/ja_social/css/template-ie8.css" type="text/css" rel="stylesheet" /><![endif]-->




    <link href="/templates/ja_social/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <style type="text/css">
        /*dynamic css*/

        body.bd .main {
            width: 980px;
        }

        body.bd #ja-wrapper {
            min-width: 980px;
        }
    </style>
    <script src="http://pucit.pu.edu.pk/plugins/system/japopup/fancybox/js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="http://pucit.pu.edu.pk/plugins/system/japopup/fancybox/js/jquery.easing.1.3.js" type="text/javascript"></script>
    <script src="http://pucit.pu.edu.pk/plugins/system/japopup/fancybox/js/jquery.fancybox-1.2.1.js" type="text/javascript"></script>
    <link href="http://pucit.pu.edu.pk/plugins/system/japopup/fancybox/css/jquery.fancybox.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript">if (jQuery) jQuery.noConflict();</script>
</head>

<body id="bd" class="bd fs3 com_content">
    <a name="Top" id="Top"></a>
    <div id="ja-wrapper">


        <div id="ja-top-panel"
             class="wrap ">
            <div class="main">
                <div class="main-inner1 clearfix">
                    <div class="ja-moduleraw  clearfix" id="Mod94">
                        <script type="text/javascript">
                            window.addEvent('load', function () {
                                new JAToppanel('ja-toppanel-mainwrap923401399', { modulenid: '94', duration: 500, auto: 0, delay: 0, dontshowagain: 0, overlay: 0, $cookie_suffix: 'jatoppanel_' });
                            })
                        </script>
                        <div class="ja-toppanel-mainwrap ">
                            <div class="ja-toppanel-container" id="ja-toppanel-mainwrap923401399">
                                <div class="ja-toppanel-panels">
                                    <div class="ja-toppanel-wraper ">
                                        <div class="ja-toppanel-content">
                                            <ul class='ja-toppanel-col'>
                                                <li class="toppanel-item first-item" title="How to Apply">
                                                    <div class="ja-moduletable moduletable_communication  clearfix" id="Mod68">
                                                        <h3><span>How to Apply</span></h3>
                                                        <div class="ja-box-ct clearfix">


                                                            <div class="custom_communication">
                                                                <ul>
                                                                    <li><a href="/admission/how-to-apply.html"><strong>BS </strong>CS / IT / SE</a></li>
                                                                    <li><a href="/admission/how-to-apply.html" target="_self"><strong>M.Sc CS</strong></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="toppanel-item" title="Admission Schedule">
                                                    <div class="ja-moduletable moduletable_opinion  clearfix" id="Mod89">
                                                        <h3><span>Admission Schedule</span></h3>
                                                        <div class="ja-box-ct clearfix">


                                                            <div class="custom_opinion">
                                                                <ul>
                                                                    <li><a href="/admission/admissions-schedule.html" target="_blank"><strong>BS</strong> CS / IT / SE</a></li>
                                                                    <li><a href="/admission/admissions-schedule.html" target="_blank"><strong>M.Sc</strong> CS</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="toppanel-item" title="Entry Test Result Fall">
                                                    <div class="ja-moduletable moduletable_blogs   clearfix" id="Mod87">
                                                        <h3><span>Entry Test Result Fall</span></h3>
                                                        <div class="ja-box-ct clearfix">


                                                            <div class="custom_blogs ">
                                                                <ul>
                                                                    <li><a href="/admission/interview-schedule/m-phil-cs.html" target="_blank"><strong>M.Phil</strong> CS</a></li>
                                                                    <li><a href="/admission/interview-schedule/m-phil-rsgis.html"><strong>M.Phil</strong> RSGIS</a></li>
                                                                    <li><a href="/admission/interview-schedule/phd.html" target="_blank"><strong>PhD</strong></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="toppanel-item last-item" title="Merit Lists Fall 2015">
                                                    <div class="ja-moduletable moduletable_discussion  clearfix" id="Mod90">
                                                        <h3><span>Merit Lists Fall 2015</span></h3>
                                                        <div class="ja-box-ct clearfix">


                                                            <div class="custom_discussion">
                                                                <ul>
                                                                    <li><a href="/admission/merit-lists-fall-2015/bs-se-cs-it.html" target="_blank">BS (CS/SE/IT)</a></li>
                                                                    <li><a href="/admission/merit-lists-fall-2015/msc-cs.html" target="_blank">M.Sc (CS)</a></li>
                                                                    <li><a href="/admission/merit-lists-fall-2015/mphil-merit-lists.html" target="_blank">M.Phil (CS/RGIS)</a></li>
                                                                    <li><a href="/admission/merit-lists-fall-2015/phd-merit-lists.html" target="_blank"><span style="line-height: 1.3em;">PhD</span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="ja-toppanel-button-wraper " id="ja-toppanel-button-wraper-94">
                                        <div class="ja-toppanel-button-subwap left">
                                            <div class="ja-toppanel-button-l"></div>
                                            <div class="ja-toppanel-button">Admissions</div>
                                            <div class="ja-toppanel-button-r"></div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="ja-header"
             class="wrap ">
            <div class="main">
                <div class="main-inner1 clearfix">

                    <h1 class="logo">
                        <a href="/index.php" title="PUCIT"><span>PUCIT</span></a>
                    </h1>


                </div>
            </div>
        </div>
        <script type="text/javascript">
            //<![CDATA[
            //Set min-height
            window.addEvent('load', function () {
                if ($('ja-mainnav')) {
                    var menus = $('ja-mainnav').getElement('ul').getChildren('li');
                    if (menus.length > 0) {
                        var min_height = menus[0].getHeight();
                        for (var i = 0; i < menus.length; i++) {
                            if (menus[i].getHeight() > min_height) min_height = menus[i].getHeight();
                        }
                        for (var i = 0; i < menus.length; i++) {
                            menus[i].setStyle('min-height', min_height + 'px');
                            if (menus[i].getElement('a')) {
                                menus[i].getElement('a').setStyle('min-height', min_height + 'px');
                            }
                        }
                    }
                }
            });
            //]]>
        </script>
        <style>
            #ja-container ul.menu li a {
                font-weight: bold;
            }


            #ja-footer .main {
                text-align: center;
            }




            .main-table {
                width: 508px;
                margin-top: 30px;
                margin-right: 50px;
                float: left;
            }

            .rows-1 {
                background-color: #E7F1FE;
                width: 508px;
                height: 35px;
                float: left;
            }

            .rows-2 {
                background-color: #F5F5F5;
                width: 508px;
                height: 35px;
                float: left;
            }

            .columns {
                border: 1px solid #CCCCCC;
                width: 125px;
                height: 35px;
                float: left;
            }
        </style><div id="ja-topbar"
                     class="wrap ">
            <div class="main clearfix">

                <p class="ja-day">
                    <span class="day">Sunday</span><span class="date">, 05 01st</span>
                </p>
                <p class="ja-updatetime"><span>Last update</span><em>06:39:38 PM</em></p>

                <div id="ja-headtools" class="ja-headtool">
                    <ul>


                        <div class="custom">
                            <table>
                                <tbody>
                                    <tr>
                                        <td><a href="http://www.facebook.com/Punjab.University.College.of.IT" target="_blank"><img src="/images/sampledata/icon-facebook.png" border="0" alt="" /></a></td>
                                        <td><a href="http://www.linkedin.com/groups/Punjab-Univeristy-College-Information-Technology-4488324?trk=myg_ugrp_ovr" target="_blank"><img src="/images/sampledata/icon-linkedin.png" border="0" alt="" /></a></td>
                                        <td><a href="https://twitter.com/#!/PUCITOfficial" target="_blank"><img src="/images/sampledata/icon-twitter.png" border="0" alt="" /></a></td>
                                        <td><a><img src="/images/sampledata/icon-rss.png" border="0" alt="" width="16" height="16" /></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </ul>
                </div>

            </div>
        </div><div id="ja-mainnav"
                   class="wrap ">
            <div class="main clearfix">
                <div class="ja-megamenu clearfix" id="ja-megamenu">
                    <ul class="megamenu level0">
                        <li class="mega first haschild active">
                            <a href="http://pucit.pu.edu.pk/" class="mega first haschild active" id="menu435" title="PUCIT"><span class="has-image" style="background-image:url(/images/stories/home.png);"><span class="menu-title">PUCIT</span></span></a><div class="childcontent cols1 ">
                                <div class="childcontent-inner-wrap">
                                    <div class="childcontent-inner clearfix" style="width: 200px;"><div class="megacol column1 first" style="width: 200px;"><ul class="megamenu level1"><li class="mega first"><a href="/punjab-university-college-of-information-technology/mission-statement.html" class="mega first" id="menu831" title="Mission Statement"><span class="menu-title">Mission Statement</span></a></li><li class="mega"><a href="/punjab-university-college-of-information-technology/the-vice-chancellor.html" class="mega" id="menu830" title="The Vice Chancellor"><span class="menu-title">The Vice Chancellor</span></a></li><li class="mega"><a href="/punjab-university-college-of-information-technology/the-principal.html" class="mega" id="menu829" title="The Principal"><span class="menu-title">The Principal</span></a></li><li class="mega"><a href="/punjab-university-college-of-information-technology/punjab-university-history.html" class="mega" id="menu833" title="Punjab University History"><span class="menu-title">Punjab University History</span></a></li><li class="mega last"><a href="/punjab-university-college-of-information-technology/pucit-history.html" class="mega last" id="menu832" title="PUCIT History"><span class="menu-title">PUCIT History</span></a></li></ul></div></div>
                                </div>
                            </div>
                        </li>
                        <li class="mega haschild">
                            <a href="/academics.html" class="mega haschild" id="menu800" title="	Academics"><span class="menu-title">	Academics</span></a><div class="childcontent cols1 ">
                                <div class="childcontent-inner-wrap">
                                    <div class="childcontent-inner clearfix" style="width: 200px;">
                                        <div class="megacol column1 first" style="width: 200px;">
                                            <ul class="megamenu level1">
                                                <li class="mega first haschild">
                                                    <a href="/academics/academic-programs.html" class="mega first haschild" id="menu801" title="Academic Programs"><span class="menu-title">Academic Programs</span></a><div class="childcontent cols1 ">
                                                        <div class="childcontent-inner-wrap">
                                                            <div class="childcontent-inner clearfix" style="width: 200px;"><div class="megacol column1 first" style="width: 200px;"><ul class="megamenu level2"><li class="mega first"><a href="/academics/academic-programs/bs-computer-science.html" class="mega first" id="menu802" title="BS (Computer Science)"><span class="menu-title">BS (Computer Science)</span></a></li><li class="mega"><a href="/academics/academic-programs/bs-information-technology.html" class="mega" id="menu803" title="BS (Information Technology)"><span class="menu-title">BS (Information Technology)</span></a></li><li class="mega"><a href="/academics/academic-programs/bs-software-engineering.html" class="mega" id="menu804" title="BS (Software Engineering)"><span class="menu-title">BS (Software Engineering)</span></a></li><li class="mega"><a href="/academics/academic-programs/msc-cs.html" class="mega" id="menu805" title="M.Sc CS"><span class="menu-title">M.Sc CS</span></a></li><li class="mega"><a href="/academics/academic-programs/mphill-rgis.html" class="mega" id="menu872" title="M.Phil RSGIS"><span class="menu-title">M.Phil RSGIS</span></a></li><li class="mega"><a href="/academics/academic-programs/mphill-cs.html" class="mega" id="menu807" title="M.Phil CS"><span class="menu-title">M.Phil CS</span></a></li><li class="mega last"><a href="/academics/academic-programs/phd.html" class="mega last" id="menu808" title="PhD"><span class="menu-title">PhD</span></a></li></ul></div></div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="mega"><a href="/academics/academic-regulations.html" class="mega" id="menu809" title="Academic Regulations"><span class="menu-title">Academic Regulations</span></a></li>
                                                <li class="mega"><a href="/academics/academic-calender.html" class="mega" id="menu851" title="Academic Calender"><span class="menu-title">Academic Calender</span></a></li>
                                                <li class="mega"><a href="/academics/language-proficiency.html" class="mega" id="menu951" title="Language Proficiency"><span class="menu-title">Language Proficiency</span></a></li>
                                                <li class="mega"><a href="/academics/timetable-pucit.html" class="mega" id="menu810" title="Time Table"><span class="menu-title">Time Table</span></a></li>
                                                <li class="mega last haschild">
                                                    <a href="/academics/principal-list.html" class="mega last haschild" id="menu965" title="Principal's List"><span class="menu-title">Principal's List</span></a><div class="childcontent cols1 ">
                                                        <div class="childcontent-inner-wrap">
                                                            <div class="childcontent-inner clearfix" style="width: 200px;"><div class="megacol column1 first" style="width: 200px;"><ul class="megamenu level2"><li class="mega first"><a href="/academics/principal-list/bs-computer-science.html" class="mega first" id="menu966" title="BS (Computer Science)"><span class="menu-title">BS (Computer Science)</span></a></li><li class="mega"><a href="/academics/principal-list/bs-information-technology.html" class="mega" id="menu967" title="BS (Information Technology)"><span class="menu-title">BS (Information Technology)</span></a></li><li class="mega"><a href="/academics/principal-list/bs-software-engineering.html" class="mega" id="menu968" title="BS (Software Engineering)"><span class="menu-title">BS (Software Engineering)</span></a></li><li class="mega"><a href="/academics/principal-list/msc-in-computer-science.html" class="mega" id="menu969" title="MSc in Computer Science"><span class="menu-title">MSc in Computer Science</span></a></li><li class="mega"><a href="/academics/principal-list/bs-software-engineering-new-campus.html" class="mega" id="menu971" title="BS (Software Engineering) New Campus"><span class="menu-title">BS (Software Engineering) New Campus</span></a></li><li class="mega"><a href="/academics/principal-list/bs-computer-science-new-campus.html" class="mega" id="menu972" title="BS (Computer Science) New Campus"><span class="menu-title">BS (Computer Science) New Campus</span></a></li><li class="mega last"><a href="/academics/principal-list/bs-information-technology-new-campus.html" class="mega last" id="menu973" title="BS (Information Technology) New Campus"><span class="menu-title">BS (Information Technology) New Campus</span></a></li></ul></div></div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mega haschild">
                            <a href="/admission.html" class="mega haschild" id="menu839" title="Admissions"><span class="menu-title">Admissions</span></a><div class="childcontent cols1 ">
                                <div class="childcontent-inner-wrap">
                                    <div class="childcontent-inner clearfix" style="width: 200px;">
                                        <div class="megacol column1 first" style="width: 200px;">
                                            <ul class="megamenu level1">
                                                <li class="mega first"><a href="/admission/programs.html" class="mega first" id="menu838" title="Programs"><span class="menu-title">Programs</span></a></li>
                                                <li class="mega haschild">
                                                    <a href="/admission/admissions-schedule.html" class="mega haschild" id="menu840" title="Admissions Schedule"><span class="menu-title">Admissions Schedule</span></a><div class="childcontent cols1 ">
                                                        <div class="childcontent-inner-wrap">
                                                            <div class="childcontent-inner clearfix" style="width: 200px;"><div class="megacol column1 first" style="width: 200px;"><ul class="megamenu level2"><li class="mega first"><a href="/admission/admissions-schedule/admissions-schedule-m-phil-cs.html" class="mega first" id="menu874" title="Admissions Schedule M.Phil-CS"><span class="menu-title">Admissions Schedule M.Phil-CS</span></a></li></ul></div></div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="mega"><a href="/admission/admission-criteria.html" class="mega" id="menu841" title="Admission Criteria"><span class="menu-title">Admission Criteria</span></a></li>
                                                <li class="mega"><a href="/admission/how-to-apply.html" class="mega" id="menu842" title="How to Apply"><span class="menu-title">How to Apply</span></a></li>
                                                <li class="mega haschild">
                                                    <a href="/admission/merit-lists-summer-2016.html" class="mega haschild" id="menu917" title="Merit Lists Summer 2016"><span class="menu-title">Merit Lists Summer 2016</span></a><div class="childcontent cols1 ">
                                                        <div class="childcontent-inner-wrap">
                                                            <div class="childcontent-inner clearfix" style="width: 200px;">
                                                                <div class="megacol column1 first" style="width: 200px;">
                                                                    <ul class="megamenu level2">
                                                                        <li class="mega first haschild">
                                                                            <a href="/admission/merit-lists-summer-2016/mphil-merit-lists.html" class="mega first haschild" id="menu902" title="MPhil Merit Lists"><span class="menu-title">MPhil Merit Lists</span></a><div class="childcontent cols1 ">
                                                                                <div class="childcontent-inner-wrap">
                                                                                    <div class="childcontent-inner clearfix" style="width: 200px;"><div class="megacol column1 first" style="width: 200px;"><ul class="megamenu level3"><li class="mega first"><a href="/admission/merit-lists-summer-2016/mphil-merit-lists/mphil-cs-cecond-list.html" class="mega first" id="menu903" title="MPhil CS Second merit list"><span class="menu-title">MPhil CS Second merit list</span></a></li><li class="mega last"><a href="/admission/merit-lists-summer-2016/mphil-merit-lists/mphil-cs-general-merit-list.html" class="mega last" id="menu904" title="MPhil CS General merit list"><span class="menu-title">MPhil CS General merit list</span></a></li></ul></div></div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="mega last"><a href="/admission/fee-structure.html" class="mega last" id="menu916" title="Fee Structure"><span class="menu-title">Fee Structure</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mega haschild">
                            <a href="/features.html" class="mega haschild" id="menu506" title="Faculty"><span class="menu-title">Faculty</span></a><div class="childcontent cols3 ">
                                <div class="childcontent-inner-wrap">
                                    <div class="childcontent-inner clearfix" style="width: 620px;"><div class="megacol column1 first" style="width: 230px;"><ul class="megamenu level1"><li class="mega first group"><div class="group"><div class="group-title"><a href="/features/layout.html" class="mega first group" id="menu507" title="Faculty"><span class="menu-title">Faculty</span></a></div><div class="group-content"><ul class="megamenu level1"><li class="mega first"><a href="/features/layout/information-technology.html" class="mega first" id="menu515" title="Information Technology"><span class="menu-title">Information Technology</span></a></li><li class="mega"><a href="/features/layout/left-right-main.html" class="mega" id="menu517" title="Mathematics"><span class="menu-title">Mathematics</span></a></li><li class="mega last"><a href="/features/layout/view-all-faculty.html" class="mega last" id="menu873" title="View All Faculty"><span class="menu-title">View All Faculty</span></a></li></ul></div></div></li></ul></div><div class="megacol column2" style="width: 190px;"><ul class="megamenu level1"><li class="mega first group"><div class="group"><div class="group-title"><a href="/features/menu-showcase.html" class="mega first group" id="menu519" title="Staff"><span class="menu-title">Staff</span></a></div><div class="group-content"><ul class="megamenu level1"><li class="mega first"><a href="/features/menu-showcase/drop-down.html" class="mega first" id="menu863" title="Administration"><span class="menu-title">Administration</span></a></li><li class="mega"><a href="/features/menu-showcase/computer-labs.html" class="mega" id="menu864" title="Computer Labs"><span class="menu-title">Computer Labs</span></a></li><li class="mega last"><a href="/features/menu-showcase/library.html" class="mega last" id="menu848" title="Library"><span class="menu-title">Library</span></a></li></ul></div></div></li></ul></div><div class="megacol column3 last" style="width: 200px;"><ul class="megamenu level1"><li class="mega first group"><div class="group"><div class="group-title"><a href="/features/pucit-agile-technologies.html" class="mega first group" id="menu781" title="Development"><span class="menu-title">Development</span></a></div><div class="group-content"><ul class="megamenu level1"><li class="mega first"><a href="/features/pucit-agile-technologies/webmaster-and-software-engineers.html" class="mega first" id="menu871" title="Agile Technologies"><span class="menu-title">Agile Technologies</span></a></li><li class="mega last"><a href="/features/pucit-agile-technologies/webmaster-pucit-pu.html" class="mega last" id="menu950" title="Webmaster"><span class="menu-title">Webmaster</span></a></li></ul></div></div></li></ul></div></div>
                                </div>
                            </div>
                        </li>
                        <li class="mega haschild">
                            <a href="/campus-life.html" class="mega haschild" id="menu625" title="Campus Life"><span class="menu-title">Campus Life</span></a><div class="childcontent cols1 ">
                                <div class="childcontent-inner-wrap">
                                    <div class="childcontent-inner clearfix" style="width: 200px;">
                                        <div class="megacol column1 first" style="width: 200px;">
                                            <ul class="megamenu level1">
                                                <li class="mega first"><a href="/campus-life/phot-gallery.html" class="mega first" id="menu846" title="Photo Gallery"><span class="menu-title">Photo Gallery</span></a></li>
                                                <li class="mega haschild">
                                                    <a href="/campus-life/student-societies.html" class="mega haschild" id="menu847" title="Student Societies"><span class="menu-title">Student Societies</span></a><div class="childcontent cols1 ">
                                                        <div class="childcontent-inner-wrap">
                                                            <div class="childcontent-inner clearfix" style="width: 200px;"><div class="megacol column1 first" style="width: 200px;"><ul class="megamenu level2"><li class="mega first"><a href="/campus-life/student-societies/computer-society.html" class="mega first" id="menu856" title="Computer Society"><span class="menu-title">Computer Society</span></a></li><li class="mega"><a href="/campus-life/student-societies/sports-society.html" class="mega" id="menu857" title="Sports Society"><span class="menu-title">Sports Society</span></a></li><li class="mega"><a href="/campus-life/student-societies/girls-society.html" class="mega" id="menu858" title="Girls Society"><span class="menu-title">Girls Society</span></a></li><li class="mega"><a href="/campus-life/student-societies/literary-society.html" class="mega" id="menu859" title="Literary Society"><span class="menu-title">Literary Society</span></a></li><li class="mega"><a href="/campus-life/student-societies/event-management-society.html" class="mega" id="menu860" title="Event Management Society"><span class="menu-title">Event Management Society</span></a></li><li class="mega last"><a href="/campus-life/student-societies/acm-student-chapter.html" class="mega last" id="menu861" title="ACM Student Chapter"><span class="menu-title">ACM Student Chapter</span></a></li></ul></div></div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="mega"><a href="/campus-life/w-ranking-by-nceac.html" class="mega" id="menu962" title="" w" ranking by nceac"><span class="menu-title">"W" ranking by NCEAC</span></a></li>
                                                <li class="mega"><a href="/campus-life/pucit-named-an-nvidia-cuda-teaching-center.html" class="mega" id="menu963" title="NVIDIA CUDA Teaching Center"><span class="menu-title">NVIDIA CUDA Teaching Center</span></a></li>
                                                <li class="mega last"><a href="/campus-life/pucit-conducted-first-ever-biometric-verification-for-elections-for-the-lhcba.html" class="mega last" id="menu964" title="PUCIT conducted first ever biometric verification for elections for the (LHCBA)"><span class="menu-title">PUCIT conducted first ever biometric verification for elections for the (LHCBA)</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mega haschild">
                            <a href="/rtl-languages.html" class="mega haschild" id="menu512" title="Scholarships"><span class="menu-title">Scholarships</span></a><div class="childcontent cols1 ">
                                <div class="childcontent-inner-wrap">
                                    <div class="childcontent-inner clearfix" style="width: 200px;"><div class="megacol column1 first" style="width: 200px;"><ul class="megamenu level1"><li class="mega first"><a href="http://beta.hec.gov.pk/Pages/HECMain.aspx" onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,');return false;" class="mega first" id="menu513" title="HEC"><span class="menu-title">HEC</span></a></li><li class="mega"><a href="/rtl-languages/ltr-languages-demo.html" class="mega" id="menu514" title="Semester"><span class="menu-title">Semester</span></a></li><li class="mega last"><a href="/rtl-languages/national-ict-scholarship-program.html" class="mega last" id="menu970" title="National ICT Scholarship Program"><span class="menu-title">National ICT Scholarship Program</span></a></li></ul></div></div>
                                </div>
                            </div>
                        </li>
                        <li class="mega last"><a href="/contact-u-spucit.html" class="mega last" id="menu849" title="Contact us"><span class="menu-title">Contact us</span></a></li>
                    </ul>
                </div>
                <script type="text/javascript">
                    var megamenu = new jaMegaMenuMoo('ja-megamenu', {
                        'bgopacity': 0,
                        'delayHide': 300,
                        'slide': 1,
                        'fading': 1,
                        'direction': 'down',
                        'action': 'mouseover',
                        'tips': false,
                        'duration': 300,
                        'hidestyle': 'fastwhenshow'
                    });
                </script>
            </div>
        </div>

        <!-- jdoc:include type="menu" level="0" / -->

        <ul class="no-display">
            <li><a href="#ja-content" title="Skip to content">Skip to content</a></li>
        </ul>
        <!-- MAIN CONTAINER -->
        <div id="ja-container" class="wrap ja-r1">
            <div class="main clearfix">
                <div id="ja-mainbody" style="width:78%">
                    <!-- CONTENT -->
                    <div id="ja-main" style="width:100%">
                        <div class="inner clearfix">


                            <div id="system-message-container">
                            </div>
                            <div id="ja-content-mass-top" class="ja-mass ja-mass-top clearfix">
                                <div class="ja-moduleraw-style2  clearfix" id="Mod98">

                                    <div class="ja-slidewrap_social-style2 ja-articles" id="ja-slide-articles-98" style="visibility:hidden">
                                        <div class="ja-slide-main-wrap">
                                            <div class="ja-slide-mask">
                                            </div>
                                            <div class="ja-slide-main">
                                                <div class="ja-slide-item">
                                                    <img src="/images/stories/slideshow/sl-5.jpg" alt="" pucit" allama iqbal campus (old campus)" title="" pucit" allama iqbal campus (old campus)" width="721" height="269" />
                                                </div>
                                                <div class="ja-slide-item">
                                                    <img src="/images/stories/slideshow/sl-6.jpg" alt="" pucit" quaid e azam campus (new campus)" title="" pucit" quaid e azam campus (new campus)" width="721" height="269" />
                                                </div>
                                                <div class="ja-slide-item">
                                                    <img src="/images/stories/slideshow/sl-33.jpg" alt=" Punjab University College of Information Technology" title=" Punjab University College of Information Technology" width="721" height="269" />
                                                </div>
                                                <div class="ja-slide-item">
                                                    <img src="/images/stories/slideshow/sl-8.jpg" alt=" 800 plus computers and Internet facilities. " title=" 800 plus computers and Internet facilities. " width="721" height="269" />
                                                </div>
                                                <div class="ja-slide-item">
                                                    <img src="/images/stories/slideshow/sl-222.jpg" alt="Building to be constructed at PUCIT Old Campus, Adjacent to Syndicate room building" title="Building to be constructed at PUCIT Old Campus, Adjacent to Syndicate room building" width="721" height="269" />
                                                </div>
                                            </div>

                                            <div class="ja-slide-progress"></div>
                                            <div class="ja-slide-loader"></div>

                                            <!-- JA SLIDESHOW 3 MARK -->
                                            <div class="maskDesc">
                                                <div class="inner">

                                                </div>
                                            </div>
                                        </div>
                                        <!-- END JA SLIDESHOW 3 MARK -->
                                        <div class="ja-slide-descs">
                                            <div class="ja-slide-desc">
                                                <a target="_blank" href="/79-slideshow/88-joomla-2-5-template-wins-tech-talk-prize.html">
                                                    <span>"PUCIT"  Allama Iqbal Campus (Old Campus)</span>
                                                </a>
                                            </div>
                                            <div class="ja-slide-desc">
                                                <a target="_blank" href="/79-slideshow/80-25-new-joomla-template-2-5-x-for-developers.html">
                                                    <span>"PUCIT"  Quaid e Azam Campus (New Campus)</span>
                                                </a>
                                            </div>
                                            <div class="ja-slide-desc">
                                                <a target="_blank" href="/79-slideshow/79-joomsocial-launch-credit-card-processing-template-joomla-2-5.html">
                                                    <span>Punjab University College of Information Technology</span>
                                                </a>
                                            </div>
                                            <div class="ja-slide-desc">
                                                <a target="_blank" href="/libraray.html">
                                                    <span>800 plus computers and Internet facilities.</span>
                                                </a>
                                            </div>
                                            <div class="ja-slide-desc">
                                                <a target="_blank" href="/79-slideshow/76-neque-porro-quisquam-est-qui-dolorem-ipsum-quia.html">
                                                    <span>Building to be constructed at PUCIT Old Campus, Adjacent to Syndicate room building</span>
                                                </a>
                                            </div>
                                        </div>

                                        <!-- JA SLIDESHOW 3 NAVIAGATION -->
                                        <div class="ja-slide-thumbs-wrap ja-horizontal">
                                            <div class="ja-slide-thumbs">
                                                <div class="ja-slide-thumb">
                                                    <div class="ja-slide-thumb-inner">
                                                        <img align="left" src="/images/stories/slideshow/sl-5.jpg" alt="" pucit" allama iqbal campus (old campus)" title="" pucit" allama iqbal campus (old campus)" width="165" height="165" />			                         <h3>"PUCIT"  Allama Iqbal Campus (Old Campus)</h3>
                                                        <span class="ja-createdate clearfix">
                                                            Posted date:&nbsp;	2011-05-17
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="ja-slide-thumb">
                                                    <div class="ja-slide-thumb-inner">
                                                        <h3>"PUCIT"  Quaid e Azam Campus (New Campus)</h3>
                                                        <span class="ja-createdate clearfix">
                                                            Posted date:&nbsp;	2011-02-24
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="ja-slide-thumb">
                                                    <div class="ja-slide-thumb-inner">
                                                        <img align="left" src="/images/stories/slideshow/sl-33.jpg" alt=" Punjab University College of Information Technology" title=" Punjab University College of Information Technology" width="165" height="165" />			                         <h3>Punjab University College of Information Technology</h3>
                                                        <span class="ja-createdate clearfix">
                                                            Posted date:&nbsp;	2011-02-24
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="ja-slide-thumb">
                                                    <div class="ja-slide-thumb-inner">
                                                        <img align="left" src="/images/stories/slideshow/sl-8.jpg" alt=" 800 plus computers and Internet facilities. " title=" 800 plus computers and Internet facilities. " width="165" height="165" />			                         <h3>800 plus computers and Internet facilities.</h3>
                                                        <span class="ja-createdate clearfix">
                                                            Posted date:&nbsp;	2011-02-24
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="ja-slide-thumb">
                                                    <div class="ja-slide-thumb-inner">
                                                        <img align="left" src="/images/stories/slideshow/sl-222.jpg" alt="Building to be constructed at PUCIT Old Campus, Adjacent to Syndicate room building" title="Building to be constructed at PUCIT Old Campus, Adjacent to Syndicate room building" width="165" height="165" />			                         <h3>Building to be constructed at PUCIT Old Campus, Adjacent to Syndicate room building</h3>
                                                        <span class="ja-createdate clearfix">
                                                            Posted date:&nbsp;	2011-02-24
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="ja-slide-thumbs-mask" style=" display:none ">
                                                <div class="ja-slide-thumbs-mask-left">&nbsp;</div>
                                                <div class="ja-slide-thumbs-mask-center">&nbsp;</div>
                                                <div class="ja-slide-thumbs-mask-right">&nbsp;</div>
                                            </div>

                                            <p class="ja-slide-thumbs-handles">
                                                <span>&nbsp;</span>
                                                <span>&nbsp;</span>
                                                <span>&nbsp;</span>
                                                <span>&nbsp;</span>
                                                <span>&nbsp;</span>
                                            </p>
                                            <!-- JA SLIDESHOW 3 NAVIAGATION -->

                                        </div>
                                        <!-- JA SLIDESHOW 3 BUTTONS CONTROL -->
                                        <div class="ja-slide-buttons clearfix">
                                            <span class="ja-slide-prev">&laquo; Previous</span>
                                            <span class="ja-slide-playback">&lsaquo; Playback</span>
                                            <span class="ja-slide-stop">Stop</span>
                                            <span class="ja-slide-play">Play &rsaquo;</span>
                                            <span class="ja-slide-next">Next  &raquo;</span>
                                        </div>

                                    </div>

                                    <script type="text/javascript">
                                        var Ja_direction = '';
                                        var cookie_path = '/';
                                        var cur_template_name = 'ja_social';

                                        window.addEvent('domready', function () {
                                            var Ja_maskAlign_98 = 'left';
                                            if (typeof (tmpl_name) == 'undefined') {
                                                cookie_path = "ja_social_direction";
                                            } else {
                                                cookie_path = tmpl_name + "_direction";
                                            }

                                            Ja_direction = Cookie.read(cookie_path);
                                            if (Ja_direction == '' || Ja_direction == null) {
                                                Ja_direction = 'ltr';
                                            }
                                            var style_l_value = 'auto';
                                            if (cur_template_name == 'ja_norite') {
                                                style_l_value = '0';
                                            }
                                            if (Ja_direction == 'rtl') {
                                                setStyleLinkWithRTLDirection();
                                                $('ja-slide-articles-98').getElement(".ja-slide-main").setStyle('left', style_l_value);
                                                $('ja-slide-articles-98').getElement(".ja-slide-main").setStyle('right', 'auto');
                                                if (Ja_maskAlign_98 == 'right') {
                                                    Ja_maskAlign_98 = 'left';
                                                }
                                                else if (Ja_maskAlign_98 == 'left') {
                                                    Ja_maskAlign_98 = 'right';
                                                }
                                            }

                                            new JASlider('ja-slide-articles-98', {
                                                slices: 8,
                                                boxCols: 8,
                                                boxRows: 4,

                                                animation: 'fade',
                                                fbanim: 'move',
                                                direction: 'horizontal',

                                                interval: 5000,
                                                duration: 400,
                                                transition: Fx.Transitions.linear,

                                                repeat: 'true',
                                                autoPlay: 1,

                                                mainWidth: 721,
                                                mainHeight: 269,

                                                rtl: (typeof Ja_direction == 'string') ? Ja_direction : '',

                                                startItem: 0,

                                                thumbItems: 4,
                                                thumbType: 'thumbs',
                                                thumbWidth: 165,
                                                thumbHeight: 165,
                                                thumbSpaces: [0, 0],
                                                thumbOpacity: 0.1,
                                                thumbTrigger: 'click',
                                                thumbOrientation: 'horizontal',


                                                maskStyle: 0,
                                                maskWidth: 500,
                                                maskHeigth: 68,
                                                maskOpacity: 0,
                                                maskAlign: Ja_maskAlign_98,
                                                maskTransitionStyle: 'style',
                                                maskTransition: Fx.Transitions.linear,

                                                showDesc: 'desc',
                                                descTrigger: 'load',

                                                showControl: 1,

                                                showNavBtn: true,
                                                navBtnOpacity: 0.4,
                                                navBtnTrigger: 'click',

                                                showProgress: 0,

                                                urls: ['/79-slideshow/88-joomla-2-5-template-wins-tech-talk-prize.html', '/79-slideshow/80-25-new-joomla-template-2-5-x-for-developers.html', '/79-slideshow/79-joomsocial-launch-credit-card-processing-template-joomla-2-5.html', '/libraray.html', '/79-slideshow/76-neque-porro-quisquam-est-qui-dolorem-ipsum-quia.html'],
                                                targets: ['', '', '', '', '']
                                            });
                                        });
                                    </script>
                                    <script type="text/javascript">
                                        function setStyleLinkWithRTLDirection() {
                                            var links = document.getElementsByTagName('link');

                                            var script = document.createElement('link');
                                            script.setAttribute('type', 'text/css');
                                            script.setAttribute('rel', 'stylesheet');
                                            script.setAttribute('href', 'http://pucit.pu.edu.pk/modules/mod_jaslideshow/assets/themes/default/mod_jaslideshow_rtl.css');
                                            document.getElementsByTagName("head")[0].appendChild(script);
                                        }
                                    </script>
                                </div>
                            </div>

                            <div id="ja-contentwrap" class="clearfix ">
                                <div id="ja-content" class="column" style="width:100%">
                                    <div id="ja-current-content" class="column" style="width:100%">
                                        <div id="ja-content-top" class="ja-content-top clearfix">
                                            <!-- SPOTLIGHT -->
                                            <div class="ja-box column ja-box-full" style="width: 100%;">
                                                <div class="ja-moduletable moduletable  clearfix" id="Mod120">
                                                    <h3><span>Latest News and Events</span></h3>
                                                    <div class="ja-box-ct clearfix">


                                                        <div class="custom">
                                                            <table>
                                                                <tbody>
                                                                    <tr>
                                                                        <td width="158" height="153">
                                                                            <p><a href="/academics/timetable-pucit.html" target="_blank"><img src="/images/mphilnews.png" border="0" alt="" width="158" height="153" style="display: block; margin-left: auto; margin-right: auto;" /></a></p>
                                                                        </td>
                                                                        <td width="168" height="153">
                                                                            <h1 style="text-align: center;"><strong style="color: #000000; font-family: arial; font-size: 12px; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px;">Time Table BS and M.Sc CS Programs Spring 2016 </strong></h1>
                                                                            <p style="text-align: left;">BS and M.Sc CS Programs Spring 2016 Time Table.For more details please contact Program Coordinator or call at 111-923-923 Ext 118<span style="line-height: 1.3em;">. </span><a href="/academics/timetable-pucit.html" style="line-height: 1.3em;">Readmore</a></p>
                                                                            <p style="text-align: left;"> </p>
                                                                        </td>
                                                                        <td width="158" height="&quot;153">
                                                                            <p><a href="/academics/principal-list.html" target="_blank"><img src="/images/plist.png" border="0" alt="" width="158" height="153" style="display: block; margin-left: auto; margin-right: auto;" /></a></p>
                                                                        </td>
                                                                        <td width="158" height="153">
                                                                            <h1 style="text-align: center;"><strong style="color: #000000; font-family: arial; font-size: 12px; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px;">Principal’s List for the Fall 2015 semester</strong><strong style="color: #000000; font-family: arial; font-size: 12px; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px;">..</strong></h1>
                                                                            <p>A select group of students have been named to the Principal’s List for the Fall 2015 semester.This is the third honors list of its kind at the PUCIT and the University of the Punjab (PU).            <strong style="line-height: 1.3em;"><a href="/academics/principal-list.html" target="_blank" style="line-height: 1.3em;">Read more</a></strong></p>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ja-moduletable moduletable  clearfix" id="Mod100">
                                                    <h3><span>Punjab University College of Information Technology</span></h3>
                                                    <div class="ja-box-ct clearfix">


                                                        <div class="custom" style="background-image: url('/images/bg.png')">
                                                            <p>Located in the heart of Lahore, neighboring the buzzing Anarkali Bazar and the Mall Road, PUCIT is the largest institution of higher learning in Pakistan in Computer Science, Information Technology, and Software Engineering. <span lang="EN">The College took a modest start with the Center for Computer Science, established in the Center for Solid State Physics, Quaid-e-Azam (New) Campus, Lahore, in 1988. The first degree program offered by the Center was a one-year Post Graduate Diploma (PGD) in Computer Science. 24 students were registered in this program during the first year. The Center was upgraded to Department of Computer Science in 1991. The Department started 2-year (4-semesters) PGD leading to MSc in Computer Science under the annual system. In its first batch, the 15 students were admitted to this program. The number doubled the following year.</span></p>
                                                            <p><span lang="EN">The Vice Chancellor, Lt Gen (R) Arshad Mahmood, further upgraded the Department to a constituent College in November 2000. The college was named Punjab University College of Information Technology (PUCIT). The College launched the 4-year (8-semester) BSc (Honors) in Compute Science program in November 2000. The classes of the new BSc (Hons) in Computer Science started in January 2001 with about 180 students. The program was offered on Self-Support basis only.</span><span lang="EN"><a href="/index.php/ja-social-for-joomla-2-5-x/pucit-history" target="_self"> Read more</a><br /></span></p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- SPOTLIGHT -->

                                            <script type="text/javascript">
                                                window.addEvent('load', function () { equalHeight('#ja-content-top .ja-box') });
                                            </script>
                                        </div>

                                        <div id="ja-content-main" class="ja-content-main clearfix">

                                            <div class="blog-featured">




                                            </div>

                                        </div>

                                    </div>

                                </div>


                            </div>

                        </div>
                    </div>
                    <!-- //CONTENT -->

                </div>
                <!-- RIGHT COLUMN-->
                <div id="ja-right" class="column sidebar" style="width:22%">


                    <div class="ja-colswrap clearfix ja-r1">

                        <div id="ja-right2" class="ja-col  column" style="width:100%">
                            <div class="ja-moduletable moduletable_menu  clearfix" id="Mod20">
                                <div class="ja-box-ct clearfix">

                                    <ul class="menu">
                                        <li class="item-813 deeper parent"><a href="/publications.html">RESEARCH</a><ul><li class="item-814"><a href="/publications/books.html">Books </a></li><li class="item-815"><a href="/publications/journals.html">Journals </a></li><li class="item-816"><a href="/publications/conference.html">Conference </a></li><li class="item-817"><a href="/publications/miscellaneous.html">Miscellaneous</a></li></ul></li>
                                        <li class="item-820 deeper parent"><a href="/library.html">LIBRARY</a><ul><li class="item-876"><a href="http://library.pucit.edu.pk/" target="_blank">Library OPAC</a></li></ul></li>
                                        <li class="item-819"><a href="/project-office.html">PROJECT OFFICE</a></li>
                                        <li class="item-818"><a href="/short-courses.html">SHORT COURSES</a></li>
                                        <li class="item-549 deeper parent"><a href="/" onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,');return false;">ONLINE SERVICES </a><ul><li class="item-811"><a href="http://mail.pucit.edu.pk/" onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,');return false;">Email </a></li><li class="item-812"><a href="ftp://ftp.pucit.edu.pk/" onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,');return false;">FTP</a></li></ul></li>
                                        <li class="item-854"><a href="/downloads.html">DOWNLOADS</a></li>
                                        <li class="item-942"><a href="/placement-office.html"> PLACEMENT OFFICE</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="ja-moduletable moduletable  clearfix" id="Mod119">
                                <h3><span>Student Societies</span></h3>
                                <div class="ja-box-ct clearfix">

                                    <ul class="menu">
                                        <li class="item-825"><a href="/sports-society.html">Sports Society</a></li>
                                        <li class="item-823"><a href="/girls-society.html">Girls Society</a></li>
                                        <li class="item-824"><a href="/literary-society.html">Literary Society</a></li>
                                        <li class="item-822"><a href="/event-management-society.html">Event Management </a></li>
                                        <li class="item-862"><a href="/acm-student-chapter.html">ACM Student Chapter</a></li>
                                        <li class="item-821"><a href="/computer-society.html">Computer Society</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="ja-moduletable moduletable  clearfix" id="Mod80">
                                <h3><span>Photo Gallery</span></h3>
                                <div class="ja-box-ct clearfix">


                                    <div class="custom">
                                        <div class="clearfix">
                                            <div class="small-gallery first-item">
                                                <a class="fancybox3676" href="/images/stories/gallery/gl-1.jpg" title="Punjab University Allam Iqbal Campus (Old Campus)"><img class="img-border" src="/images/stories/gallery/gl-1-thumb.jpg" border="0" alt="Punjab University Allam Iqbal Campus (Old Campus)" /></a>
                                                <script language="javascript" type="text/javascript">
                                                    /* <![CDATA[ */
                                                    jQuery(document).ready(function () {
                                                        if (!jQuery("a.fancybox3676").fancybox({
                                                            imageScale: 1,
                                                            overlayShow: 0.7,
                                                            overlayOpacity: 0.7,
                                                            centerOnScroll: 1
                                                        }))
                                                        { document.write(''); }
                                                    });
                                                    /* ]]> */
                                                </script>
                                            </div>
                                            <div class="small-gallery">
                                                <a class="fancybox5422" href="/images/stories/gallery/gl-2.jpg" title="Pucit Classrooms"><img class="img-border" src="/images/stories/gallery/gl-2-thumb.jpg" border="0" alt="Pucit Classrooms" /></a>
                                                <script language="javascript" type="text/javascript">
                                                    /* <![CDATA[ */
                                                    jQuery(document).ready(function () {
                                                        if (!jQuery("a.fancybox5422").fancybox({
                                                            imageScale: 1,
                                                            overlayShow: 0.7,
                                                            overlayOpacity: 0.7,
                                                            centerOnScroll: 1
                                                        }))
                                                        { document.write(''); }
                                                    });
                                                    /* ]]> */
                                                </script>
                                            </div>
                                            <div class="small-gallery last-item">
                                                <a class="fancybox4495" href="/images/stories/gallery/gl-4.jpg" title="Pucit Computer Lab"><img class="img-border" src="/images/stories/gallery/gl-4-thumb.jpg" border="0" alt="Pucit Computer Lab" /></a>
                                                <script language="javascript" type="text/javascript">
                                                    /* <![CDATA[ */
                                                    jQuery(document).ready(function () {
                                                        if (!jQuery("a.fancybox4495").fancybox({
                                                            imageScale: 1,
                                                            overlayShow: 0.7,
                                                            overlayOpacity: 0.7,
                                                            centerOnScroll: 1
                                                        }))
                                                        { document.write(''); }
                                                    });
                                                    /* ]]> */
                                                </script>
                                            </div>
                                            <div class="small-gallery first-item">
                                                <a class="fancybox8995" href="/images/stories/gallery/gl-2.jpg" title="Pucit Syndicate Room"><img class="img-border" src="/images/stories/gallery/gl-2-thumb.jpg" border="0" alt="Pucit Syndicate Room" /></a>
                                                <script language="javascript" type="text/javascript">
                                                    /* <![CDATA[ */
                                                    jQuery(document).ready(function () {
                                                        if (!jQuery("a.fancybox8995").fancybox({
                                                            imageScale: 1,
                                                            overlayShow: 0.7,
                                                            overlayOpacity: 0.7,
                                                            centerOnScroll: 1
                                                        }))
                                                        { document.write(''); }
                                                    });
                                                    /* ]]> */
                                                </script>
                                            </div>
                                            <div class="small-gallery">
                                                <a class="fancybox1060" href="/images/stories/gallery/gl-5.jpg" title="Pucit Computer Lab"><img class="img-border" src="/images/stories/gallery/gl-5-thumb.jpg" border="0" alt="Sample image" /></a>
                                                <script language="javascript" type="text/javascript">
                                                    /* <![CDATA[ */
                                                    jQuery(document).ready(function () {
                                                        if (!jQuery("a.fancybox1060").fancybox({
                                                            imageScale: 1,
                                                            overlayShow: 0.7,
                                                            overlayOpacity: 0.7,
                                                            centerOnScroll: 1
                                                        }))
                                                        { document.write(''); }
                                                    });
                                                    /* ]]> */
                                                </script>
                                            </div>
                                            <div class="small-gallery last-item">
                                                <a class="fancybox5186" href="/images/stories/gallery/gl-6.jpg" title="Pucit"><img class="img-border" src="/images/stories/gallery/gl-6-thumb.jpg" border="0" alt="Sample image" /></a>
                                                <script language="javascript" type="text/javascript">
                                                    /* <![CDATA[ */
                                                    jQuery(document).ready(function () {
                                                        if (!jQuery("a.fancybox5186").fancybox({
                                                            imageScale: 1,
                                                            overlayShow: 0.7,
                                                            overlayOpacity: 0.7,
                                                            centerOnScroll: 1
                                                        }))
                                                        { document.write(''); }
                                                    });
                                                    /* ]]> */
                                                </script>
                                            </div>
                                            <div class="small-gallery first-item">
                                                <a class="fancybox7188" href="/images/stories/gallery/gl-7.jpg" title="Pucit Library"><img class="img-border" src="/images/stories/gallery/gl-7-thumb.jpg" border="0" alt="Pucit Library" /></a>
                                                <script language="javascript" type="text/javascript">
                                                    /* <![CDATA[ */
                                                    jQuery(document).ready(function () {
                                                        if (!jQuery("a.fancybox7188").fancybox({
                                                            imageScale: 1,
                                                            overlayShow: 0.7,
                                                            overlayOpacity: 0.7,
                                                            centerOnScroll: 1
                                                        }))
                                                        { document.write(''); }
                                                    });
                                                    /* ]]> */
                                                </script>
                                            </div>
                                            <div class="small-gallery">
                                                <a class="fancybox5174" href="/images/stories/gallery/gl-8.jpg" title="Pucit Principal Office"><img class="img-border" src="/images/stories/gallery/gl-8-thumb.jpg" border="0" alt="Sample image" /></a>
                                                <script language="javascript" type="text/javascript">
                                                    /* <![CDATA[ */
                                                    jQuery(document).ready(function () {
                                                        if (!jQuery("a.fancybox5174").fancybox({
                                                            imageScale: 1,
                                                            overlayShow: 0.7,
                                                            overlayOpacity: 0.7,
                                                            centerOnScroll: 1
                                                        }))
                                                        { document.write(''); }
                                                    });
                                                    /* ]]> */
                                                </script>
                                            </div>
                                            <div class="small-gallery last-item">
                                                <a class="fancybox1662" href="/images/stories/gallery/gl-9.jpg" title="Pucit Admission Office"><img class="img-border" src="/images/stories/gallery/gl-9-thumb.jpg" border="0" alt="Pucit" /></a>
                                                <script language="javascript" type="text/javascript">
                                                    /* <![CDATA[ */
                                                    jQuery(document).ready(function () {
                                                        if (!jQuery("a.fancybox1662").fancybox({
                                                            imageScale: 1,
                                                            overlayShow: 0.7,
                                                            overlayOpacity: 0.7,
                                                            centerOnScroll: 1
                                                        }))
                                                        { document.write(''); }
                                                    });
                                                    /* ]]> */
                                                </script>
                                            </div>
                                        </div>
                                        <div style="border-top: 1px dotted #ccc; margin-top: 10px; padding: 5px 0 0;"><a href="/index.php/campus-life/phot-gallery" target="_self" title="more">View more...</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="ja-moduletable moduletable_facebook  clearfix" id="Mod96">
                                <h3><span>Join us on Facebook</span></h3>
                                <div class="ja-box-ct clearfix">
                                    <iframe src="http://www.facebook.com/plugins/likebox.php?id=39284229624&amp;width=190&amp;height=180&amp;connections=12&amp;stream=false&amp;header=false&amp;colorscheme=light&amp;border_color=white&amp;"
                                            scrolling="no" frameborder="0"
                                            style="
		overflow:hidden;
		width:190px;
		height:180px; allowTransparency: true;"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //RIGHT COLUMN-->
            </div>
        </div>
        <!-- //MAIN CONTAINER -->

        <div id="ja-navhelper"
             class="wrap ">
            <div class="main">
                <div class="main-inner1 clearfix">
                    <div class="ja-breadcrums">
                        <span class="breadcrumbs pathway">
                            <strong>You are here: </strong>Home
                        </span>

                    </div>

                    <ul class="ja-links">
                        <li class="top"><a href="javascript:scroll(0,0)" title="Back to Top">Top</a></li>
                    </ul>

                    <ul class="no-display">
                        <li><a href="#ja-content" title="Skip to content">Skip to content</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="ja-footer"
             class="wrap ">
            <div class="main clearfix">



                <div class="ja-copyright">
                    <small>Copyright &#169; 2016 PUCIT. All Rights Reserved.  <a href="/" title=""></a>.</small>
                    <small><a href="http://www.joomla.o!rg"></a>  <a href="http://www.gnu.org/licenses/gpl-2.0.html"></a></small>
                </div>

            </div>
        </div>
    </div>




    <script type='text/javascript'>
        //<![CDATA[
        var disqus_developer = "1"; var disqus_shortname = 'joomlart';
        window.addEvent('load', function () {
            (function () {
                var s = document.createElement('script'); s.async = true;
                s.src = 'http://disqus.com/forums/joomlart/count.js?v=1462077831';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(s);
            }());
        });
        //]]>
    </script>
</body>

</html>
